body {
  background-color: rgb(229, 242, 247);
}
.navbar {
  /* border: solid 1px rgb(68, 0, 255); */
  list-style: none;
  display: flex;
  justify-content: space-around;
}

ul li {
  margin: 10px;
}

.title {
  font-size: 30px;
  font-family: Georgia;
  font-style: italic;
  margin-top: 0px;
}

.header {
  background-image: url(images/background.jpg);
  background-size: auto;
  height: 300px;
  border: solid 1px;
}

h1 {
  color: rgb(252, 252, 252);
  text-align: center;
  margin-top: 40px;
}

h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 30px;
  font-family: Georgia;
}

section {
  display: flex;
  height: 550px;
  justify-content: space-around;
  position: relative;
  bottom: 70px;
}
section div {
  width: 400px;
  text-align: center;
  box-shadow: 5px 5px 25px 7px grey;
  background-color: white;
}
button {
  color: white;
  background-color: rgb(14, 2, 2);
  width: 225px;
  height: 30px;
}
span {
  display: flex;
  flex-direction: row;
}
span:before,
span:after {
  content: "";
  flex: 1 1;
  border-bottom: 0.2px solid;
  margin: auto;
}
span:before {
  margin-right: 10px;
}
span:after {
  margin-left: 10px;
}

.sub {
  width: 900px;
  margin-top: 20px;
  margin-left: 400px;
  background-color: rgb(235, 231, 231);
  padding: 10px;
}
.btn {
  margin-left: 50px;
}

.article {
  background-color: white;
}
article {
  display: flex;
  justify-content: center;
}
article div {
  width: 400px;
  text-align: center;
  margin-left: 10px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.footer {
  width: 600px;
  background-color: white;
  text-align: center;
}
.help {
  list-style: none;
}
.help-center:link {
  text-decoration: none;
}
.help-center {
  color: inherit;
  text-decoration: none;
}
